/* Navbar.scss */
$font-helvetica-neue: 'Helvetica Neue', sans-serif;
$font-la-belle-aurore: 'La Belle Aurore', sans-serif;
$font-coolvetica: 'Coolvetica', sans-serif;
$font-arial: Arial, Helvetica, sans-serif;  

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333333f9; /* Color de fondo del Navbar */
    color: #fff; /* Color del texto en el Navbar */
  }
  
  .logo img {
    width: 50px; /* Ajusta el ancho del logo según tus necesidades */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 20px; /* Espacio entre enlaces */
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff; /* Color de los enlaces */
    font-family: $font-coolvetica;
    font-size: 1.3rem;
  }
  
  /* Estiliza los enlaces cuando se pasa el ratón sobre ellos */
  .nav-links a:hover {
    color: rgb(170, 198, 33);
  }
  